---
layout: default
theme: "designLeadership"
parent: "cases_leadership"

themes:
  - designLeadership
  - sdInGov
  - strategy
  - serviceDesign
  - remoteTeams

bodyclass: "cases"

---

<style type="text/css">
  .two-thirds h2, .two-thirds p { width: 66%; }  
</style>

<main>
    <section class="wrapper t2wo-thirds">
<!-- include 2023/cases-header-submenu.html -->

<h1 id="headTitle">
    Design leadership
</h1>

<p style="padding-top:0.5em;">
I was recently interviewed about my leadership. I thought the questions were helpful, and writing the answers helped me reflect on my practice. I've included them here as a starter-for-ten. Individual cases where I want to share them are linked from the "challenges" column.</p>

<!--
h2 class="df-width-two-thirds">
Ten things that matter to me.</h2>

Good teams have principles, and good businesses have purpose. What are the things you carry with you as you grow across engagements? What do you try and develop in design teams?
-->

<!--
When I was a little kid, my dad had me tracing letter-forms from typography specimen books. Later, as a teenager he dragged me off to Berlin where we visited the Bauhaus museum. While I can't trace a direct line from those early experiences to how I work today, I think those design humans trying to make an impact in post-war Europe were clearly represented in my developing years and as a result have impacted my development as a design leader. -->


{% if page.path contains "_cases_leadership/" %}
    <style type="text/css">
        #callOut { float: right; width: 33%; margin:0 0 0 1.5em; padding:0; font-size: small; }
        #callOut h3 { margin:0; padding: 0.7em 1.5em 0.7em 1.5em; color: #666; background-color: var(--mc-lightblue); font-size: x-small; border-bottom:4px solid white; text-transform: uppercase; font-weight: bold; }
        #callOut ul {
            list-style-type: none;
            padding: 0;margin: 0; }
        #callOut li { background-color: var(--mc-lightgray); padding: 0.6em 1em 0.6em 1em; margin:0; border-bottom:1px solid white; }
        #callOut li a { color:#000; text-decoration: none;}
    </style>
    <aside id="callOut">
        <h3>Good things happening with teams</h3>
        <ul>
        {% for role in site.data.roles %}
            <li><a href="#{{- role.idx -}}">&#x2192; {{ role.anon }}</a></li>
            <!-- role.anon | truncate: 30 -->
        {% endfor %}
        </ul>
    </aside>
{% endif %}


<h2>
What are five things that matter?</h2>

<p>
  Good teams have principles, and good businesses have purpose. What are the things you carry with you as you grow across engagements? What do you try and develop in design teams?</p>

<h2>1. Doing it together</h2>
<p>
  Foster collaboration in the studio and with other disciplines beyond. Individual culture and identity do matter, but assholes scale and ego gets in the way of growth. If design is on a journey, we're going to go further by valuing the energy of our collective learning and output.</p>

<h2>2. Iteration</h2>
<p>
  Not being afraid of making mistakes is hard. Learning from them can seem even harder. We all need a culture that empowers our team members to experiment without the fear of failure, and it's a massive part of a design leader's role to enable and nurture that environment.</p>


<h2>4. Consistent vision</h2>
<p>
  A consistent vision allows design solutions to share common values. Design leaders bring "a way of solving it" and this provides a stable foundation for design teams who then know what good looks like.</p>

<h2>5. Mentorship</h2>
<p class="df-width-two-thirds">
  Leadership can involve influence, but I'd hope designers speak of the learning they received, emphasising the role of the leader as a guide and mentor.</p>

<h2>6. Holistic Thinking</h2>
<p class="df-width-two-thirds">
  A design challenge lives within a larger ecosystem. Teams need the permission to explore the broader context, ensuring that designs become a synthesis of business and user needs.</p>

<h2>7. Empowering Exploration</h2>
<p class="df-width-two-thirds">
  Leaders need to find creative ways to foster environments where exploration is encouraged. We should be allowing teams to push boundaries and venture into learning spaces that may not immediately provide tangible results.</p>

<h2>8. Learning</h2>
<p class="df-width-two-thirds">
  Beyond his immediate team, Breuer's work at institutions like the Bauhaus laid down pedagogical frameworks that have trained and inspired countless designers. His leadership was thus not confined to his direct team but extended to generations of designers who came after him.</p>



<h2>
Can you give us an example where you’ve helped an organisation to increase their design maturity?</h2>

<p>
Most people aren’t trained to want to face the process of re-understanding a subject they already know. One must obtain not just literacy, but deep involvement and re-understanding.</p>


What is the scale and scope of the teams that you’ve managed? What are some of the challenges you faced?


How do you decide where to focus your time when managing a large team?
Can you give me a couple of examples of how you’ve handled difficult performance issues on your teams?



<h3>What have you done to ensure the quality of design at scale?</h3>


<h2>Roles DL</h2>

<dl>
  {% for role in site.data.roles %}
    <dt id="{{- role.idx -}}"><h3>{{ role.anon }}</h3>
      {{ role.myRole }} / {{ role.orgDescription }}
    </dt>
    <dd>
      <h3 style="color:#af9568;">Actions</h3>
      <ul style="border:0px solid red; background-image: url(/i/goldArrow.svg);background-repeat: no-repeat; background-position: center right;padding:1em 2em 1em 1em">
        {% for action in role.myActions %}
          <li>{{ action }}</li>
        {% endfor %}
      </ul>
    </dd>
    <dd>
      <h3 style="color:#af9568;">What lasting impact did my team have?</h3>
      <ul>
        {% for impact in role.teamImpact %}
          <li>{{ impact }}</li>
        {% endfor %}
      </ul>
    </dd>
  {% endfor %}
</dl>




  {% include 2023/case-index-loop.html %}
  
    </section>
</main>

